body {
    margin:0px;

}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

      /* Navigation */

nav {
    float: right;
    margin-top: 25px;
    overflow: hidden;
    text-align: center;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav > ul > li > a {
    color: black;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size:25px;
    margin-top: 20px;
}
nav li a:hover {
    background-color: #111;
}
.logo-img {
    height: 160px;
    width: 200px;
}


        /*Puncline Banner*/

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('../images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
header.masthead h1 {
        font-size:274px;
        text-align:center;
        color:white;
        margin-top:30%;
    }
@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }
}

        /* About */

#about{
}
.about1{
    color:black;
    font-family:Arial, Helvetica, sans-serif;

} 

        /*Product*/

#product {
    
}
.product1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
} 

        /* Service Section*/

#services {
    background-color: #343a40 !important;
}
#services h2{
    color:white;
}
.page-section {
    padding: 2rem 0;
}
h2 {
    text-align: center;
    padding: 20px;
}

.column {
    margin-left: 5%;
    float: left;
    width: 18.33%;
    padding: 25px;
}
.column p{
    text-align:center;
    color:white;
}
.row::after {
    clear: both;
    display: table;
}

        /* Slider-client logo */

#clients {
    background-color: #293d3d !important;
}
#clients h2{
    color:white;
}
.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    width: 100%;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

        /*Footer*/

#contact {
    background-color: #e0ebeb !important;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    
    display: block;
}

.social {
    float: left;
    list-style-type: none; 
}

        
footer a{
    margin:auto;
    font-size:200%;
    color:black;
    font-family:Arial;
    text-decoration:underline;
}

footer img{
    float:left;
    height:34px;
    width:42px;
    padding:2px;
}

footer img:hover{
    opacity: 0.7;
}

.copyright {
    font-size: 170%;
    text-align: center !important;
    color: black !important;
}